#!/usr/bin/env zsh

# Enable vim mode
bindkey -v

{{ if eq .chezmoi.os "darwin" -}}
if ! [ $commands[brew] ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}

# Auto-install tmux plugin manager
if [ ! -f ~/.tmux/plugins/tpm/tpm ]; then
  git clone --depth=1 https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

if [ $commands[ondir] ]; then
  eval_ondir() {
    eval "`ondir \"$OLDPWD\" \"$PWD\"`"
  }
  chpwd_functions=( eval_ondir $chpwd_functions )
fi

if [ $commands[direnv] ]; then
  eval "$(direnv hook zsh)"
fi

{{ if eq .chezmoi.os "darwin" -}}
if [ $commands[asdf] ]; then
  . $(brew --prefix asdf)/libexec/asdf.sh
fi
{{ end }}
