#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
if [ $commands[brew] ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}

if [ $commands[ondir] ]; then
  eval_ondir() {
    eval "`ondir \"$OLDPWD\" \"$PWD\"`"
  }
  chpwd_functions=( eval_ondir $chpwd_functions )
fi

if [ $commands[direnv] ]; then
  eval "$(direnv hook zsh)"
fi

if [ $commands[fasd] ]; then
  eval "$(fasd --init auto)"
fi
