#!/usr/bin/env zsh

export EDITOR='nvim'

if [ $commands[yarn] ]; then
  export PATH="$(yarn global bin):$PATH"
fi

if [ $commands[volta] ]; then
  export VOLTA_HOME="$HOME/.volta"
  export PATH="$VOLTA_HOME/bin:$PATH"
fi

# System specific variables
{{ if eq .chezmoi.os "darwin" -}}
export LC_ALL=en_US.UTF-8
{{ else if eq .chezmoi.os "linux" -}}
{{ end }}

# Local variables (not synced with git)
[ -r ~/.zsh/variables.local ] && . ~/.zsh/variables.local
