#!/usr/bin/env zsh

# Auto-install antibody
if [ ! -f ~/.zsh/antibody ]; then
  {{ if eq .chezmoi.os "darwin" -}}
  ln -s /opt/homebrew/bin/antibody ~/.zsh/antibody
  {{ else if eq .chezmoi.os "linux" -}}
  curl -sfL git.io/antibody | sh -s - -b ~/.zsh
  {{ end }}
fi

# Init antibody
source <(~/.zsh/antibody init)

# Plugins
antibody bundle < ~/.zsh/plugins

# Theme
. ~/.zsh/theme

# Aliases and variables
[ -r ~/.zsh/init ] && . ~/.zsh/init
[ -r ~/.zsh/aliases ] && . ~/.zsh/aliases
[ -r ~/.zsh/variables ] && . ~/.zsh/variables
