#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
# Auto complete for homebrew
if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi
{{ end }}

# Auto-install antibody
if [ ! -f ~/.zsh/antidote ]; then
  git clone --depth=1 https://github.com/mattmc3/antidote.git ~/.zsh/.antidote
  ln -s ~/.zsh/.antidote/antidote.zsh ~/.zsh/antidote
fi

# Init antibody
source ~/.zsh/antidote 

# Plugins
antidote load ~/.zsh/plugins

# Theme
. ~/.zsh/theme

# Aliases and variables
[ -r ~/.zsh/init ] && . ~/.zsh/init
[ -r ~/.zsh/aliases ] && . ~/.zsh/aliases
[ -r ~/.zsh/variables ] && . ~/.zsh/variables
