{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

cat > $HOME/.Brewfile <<EOF
tap "homebrew/cask"

brew "neovim"
brew "direnv"
brew "ondir"
brew "watchman"
brew "antidote"
brew "rbw"
brew "pinentry-mac"
brew "node"
brew "asdf"
brew "fzf"
brew "bat"
brew "tmux"
brew "the_silver_searcher"
brew "helix"
brew "nnn"

cask "firefox"
cask "visual-studio-code"
cask "slack"
cask "iterm2"
cask "alfred"
cask "rapidapi"
cask "google-chrome"
cask "coteditor"
cask "kap"
cask "db-browser-for-sqlite"
cask "postico"
cask "telegram"
cask "keka"
cask "libreoffice"
cask "bitwarden"
cask "bartender"
EOF

brew bundle --global --no-lock
{{ end -}}
