Host *
  AddKeysToAgent yes
  UseKeychain yes
  ForwardAgent yes
  IdentityFile ~/.ssh/id_rsa

Host dev-env
  HostName {{ pass "servers/dev-env" }}
  User tasyp
  RemoteForward /home/tasyp/.gnupg/S.gpg-agent {{ .chezmoi.homedir }}/.gnupg/S.gpg-agent.extra

Host ttu-linux
  Hostname {{ pass "servers/ttu-linux" }}
  User tasyp
  RemoteForward /home/tasyp/.gnupg/S.gpg-agent {{ .chezmoi.homedir }}/.gnupg/S.gpg-agent.extra
